@page
@model Northwind.Gui.Web.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employees.EmployeeId" />
            <div class="form-group">
                <label asp-for="Employees.LastName" class="control-label"></label>
                <input asp-for="Employees.LastName" class="form-control" />
                <span asp-validation-for="Employees.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.FirstName" class="control-label"></label>
                <input asp-for="Employees.FirstName" class="form-control" />
                <span asp-validation-for="Employees.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.Title" class="control-label"></label>
                <input asp-for="Employees.Title" class="form-control" />
                <span asp-validation-for="Employees.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.TitleOfCourtesy" class="control-label"></label>
                <input asp-for="Employees.TitleOfCourtesy" class="form-control" />
                <span asp-validation-for="Employees.TitleOfCourtesy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.BirthDate" class="control-label"></label>
                <input asp-for="Employees.BirthDate" class="form-control" />
                <span asp-validation-for="Employees.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.HireDate" class="control-label"></label>
                <input asp-for="Employees.HireDate" class="form-control" />
                <span asp-validation-for="Employees.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.Address" class="control-label"></label>
                <input asp-for="Employees.Address" class="form-control" />
                <span asp-validation-for="Employees.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.City" class="control-label"></label>
                <input asp-for="Employees.City" class="form-control" />
                <span asp-validation-for="Employees.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.Region" class="control-label"></label>
                <input asp-for="Employees.Region" class="form-control" />
                <span asp-validation-for="Employees.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.PostalCode" class="control-label"></label>
                <input asp-for="Employees.PostalCode" class="form-control" />
                <span asp-validation-for="Employees.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.Country" class="control-label"></label>
                <input asp-for="Employees.Country" class="form-control" />
                <span asp-validation-for="Employees.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.HomePhone" class="control-label"></label>
                <input asp-for="Employees.HomePhone" class="form-control" />
                <span asp-validation-for="Employees.HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.Extension" class="control-label"></label>
                <input asp-for="Employees.Extension" class="form-control" />
                <span asp-validation-for="Employees.Extension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.Photo" class="control-label"></label>
                <input asp-for="Employees.Photo" class="form-control" />
                <span asp-validation-for="Employees.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.Notes" class="control-label"></label>
                <input asp-for="Employees.Notes" class="form-control" />
                <span asp-validation-for="Employees.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.ReportsTo" class="control-label"></label>
                <select asp-for="Employees.ReportsTo" class="form-control" asp-items="ViewBag.ReportsTo"></select>
                <span asp-validation-for="Employees.ReportsTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.PhotoPath" class="control-label"></label>
                <input asp-for="Employees.PhotoPath" class="form-control" />
                <span asp-validation-for="Employees.PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
